---
import { getCookieValue } from "@/lib/auth";
import {
  testimonialApi,
  blogApi,
  podcastApi,
  suscriptorApi,
  galleryApi,
} from "@/api";
import ContentResume from "@/components/organisms/CMS/ContentResume.astro";

import ViewedBlogs from "@/components/organisms/CMS/ViewedBlogs.astro";

const token = getCookieValue(Astro, "token");

const apiCalls = [
  blogApi.getBlogsByTag(),
  testimonialApi.getTestimonials(),
  podcastApi.getPodcasts(),
  suscriptorApi.getSuscriptors(token),
  galleryApi.getGallery(),
];

let loading = true;
const [blogsRes, testimonialsRes, podcastsRes, suscriptorsRes, galleryRes] =
  await Promise.all(apiCalls);

loading = false;
---

<div class="space-y-6">
  <ContentResume
    blogsRes={blogsRes}
    testimonialsRes={testimonialsRes}
    podcastsRes={podcastsRes}
    suscriptorsRes={suscriptorsRes}
    galleryRes={galleryRes}
  />
  <ViewedBlogs blogs={blogsRes} />
</div>
