---
import Container from "../atoms/Container.astro";
import SectionTitle from "../atoms/SectionTitle.astro";
import ButtonPride from "../atoms/ButtonPride.astro";

const steps = [
  { number: "1", text: "Solo necesitas pasaporte o cédula." },
  { number: "2", text: "Coordinamos todo por WhatsApp." },
  { number: "3", text: "Llegas, te casas y listo." },
];
---

<section class="mb-[200px] space-y-[100px]">
  <Container
    fullWidth={false}
    customClass="space-y-[-50px] md:space-y-[-80px] title-animation"
  >
    <SectionTitle
      title="Casarse en Costa Rica"
      customClass="col-start-1 col-span-4 md:col-span-8 xl:col-span-12"
    />
    <SectionTitle
      title="Es así de simple"
      serif={true}
      customClass="col-start-1 col-span-4 md:col-span-5 xl:col-span-8 text-right"
    />
  </Container>

  <Container fullWidth={false} customClass="gap-y-[60px] items-start">
    {
      steps.map((step) => (
        <div class="col-span-4 xl:col-span-4 flex flex-col border-t border-black pt-6 gap-4">
          <span class="roblight text-[80px] md:text-[96px] leading-none tracking-[-5px] opacity-15">
            {step.number}
          </span>
          <p class="rosdnl uppercase text-[18px] md:text-[22px] leading-tight">
            {step.text}
          </p>
        </div>
      ))
    }

    <div
      class="col-span-4 md:col-span-8 xl:col-span-12 flex justify-center pt-[40px]"
    >
      <!-- <a href="/servicios/matrimonios">
        <ButtonPride>Ver más</ButtonPride>
      </a> -->
      <ButtonPride customClass="w-fit h-fit justify-self-end">
        <span class="relative z-[5]">
          <a href="/servicio/matrimonios" class="text-white no-underline"
            >Leer más</a
          >
        </span>
      </ButtonPride>
    </div>
  </Container>
</section>
