---
import ButtonPride from "../atoms/ButtonPride.astro";
import Container from "../atoms/Container.astro";
import SectionTitle from "../atoms/SectionTitle.astro";
import ContenidoSlider from "../molecules/ContenidoSlider.astro";

const images = [
  "Testimonio1.jpeg",
  "Testimonio2.jpg",
  "Testimonio3.webp",
  "Testimonio4.webp",
];
---

<section class="mb-[200px] space-y-[100px] content-section">
  <Container
    fullWidth={false}
    customClass="space-y-[-50px] md:space-y-[-80px] title-animation"
  >
    <SectionTitle title="Nuestro" customClass="col-start-1 col-span-4" />
    <SectionTitle
      title="Contenido"
      serif={true}
      customClass="col-start-2 col-span-3"
    />
  </Container>

  <div class="slider-container flex flex-col gap-2 overflow-hidden">
    <ContenidoSlider right={true} images={images} />
    <ContenidoSlider images={images} />
  </div>

  <Container>
    <div
      class="col-start-1 col-span-4 space-y-[30px] md:col-span-8 xl:col-start-3 xl:col-span-7"
    >
      <p class="montreg md:text-[20px]">
        Además de nuestra <span
          class="rosdcel text-[18px] md:text-[22px] tracking-[1px]"
          >galería visual,</span
        > contamos con un espacio de <span
          class="rosdcel text-[18px] md:text-[22px] tracking-[1px]"
          >blogs y noticias</span
        > donde tratamos temas <span
          class="rosdcel text-[18px] md:text-[22px] tracking-[1px]"
        >
          legales y familiares</span
        > relevantes para nuestra comunidad.
      </p>

      <ButtonPride customClass="float-end w-[150px] xl:hidden">
        <span class="relative z-10">
          <a href="/contenido" class="text-white no-underline">Ver más</a>
        </span>
      </ButtonPride>
    </div>

    <ButtonPride
      customClass="float-end w-[150px] hidden xl:flex xl:justify-center xl:col-start-11 xl:col-span-2 xl:h-fit xl:self-end xl:justify-self-end xl:translate-y-[-30px]"
    >
      <span class="relative z-10">
        <a href="/contenido" class="text-white no-underline">Ver más</a>
      </span>
    </ButtonPride>
  </Container>
</section>
