---
import Container from "../atoms/Container.astro";
import Estadistica from "../atoms/Estadistica.astro";
import Parragraph from "../atoms/Parragraph.astro";
import SectionTitle from "../atoms/SectionTitle.astro";
---

<section class="mt-[100px] mb-[200px] space-y-[100px] md:mt-[200px]">
  <Container
    fullWidth={false}
    customClass="space-y-[-50px] md:space-y-[-80px] title-animation"
  >
    <SectionTitle title="¿Quiénes" customClass="col-start-1 col-span-4" />
    <SectionTitle
      title="Somos?"
      serif={true}
      customClass="col-start-2 col-span-3"
    />
  </Container>

  <Container fullWidth={false} customClass="space-y-[300px] ">
    <Parragraph
      customClass="col-start-1 col-span-3 md:col-start-3 md:col-span-5 xl:col-start-6 xl:col-span-5 text-animation text-justify"
      text={`CELIG nació con una misión clara: ser el primer bufete legal en Centroamérica creado por 
    y para la comunidad LGBTIQ+. Más allá del derecho, su esencia está en la empatía, el 
    compromiso social y la defensa activa de quienes históricamente han sido marginados. Cada
    caso es una causa, y cada cliente, una historia que merece respeto y representación digna.`}
    />

    <Parragraph
      customClass="col-start-2 col-span-3 text-right md:text-left md:col-start-1 md:col-span-5 xl:col-start-3 xl:col-span-5 text-animation text-justify"
      text={`Con más de 34 años de trayectoria, CELIG brinda servicios notariales (traspasos, donaciones, testamentos) y asesorías en materia familiar. Desde el 2020, realizo matrimonios igualitarios, siendo que a la fecha he casado a más de 350 parejas aproximadamente 
    —nacionales y extranjeras— han confiado en la firma para celebrar su amor legalmente. CELIG no solo 
    ofrece soluciones legales, sino acompañamiento humano en cada paso.`}
    />

    <Parragraph
      customClass="col-start-1 col-span-3 md:col-start-4 md:col-span-5 xl:col-start-7 xl:col-span-5 text-animation text-justify"
      text={`CELIG es también la fuerza detrás de iniciativas como Shopping Pride, Espresso Celig y la 
      Feria del Orgullo, proyectos que celebran y visibilizan a la comunidad LGBTIQ+ más allá del ámbito 
      jurídico. Su impacto trasciende el papel; es una plataforma viva de cambio, visibilidad      
      y orgullo. Estando presente en el Pride desde 2022, con la claridad de que Aquí     
      estamos, existimos, amamos y merecemos casarnos, heredar, ser respetadxs y         
      vivir libres de miedo.`}
    />
  </Container>

  <Container fullWidth={false}>
    <div
      class="col-start-1 col-span-4 flex flex-col gap-[20px] md:col-span-8 md:gap-[50px] xl:col-span-12 xl:flex-row xl:justify-between xl:w-[80%] xl:mx-auto estadisticas"
    >
      <Estadistica
        title="Matrimonios realizados"
        value="50+"
        customClass="self-end"
      />
      <Estadistica
        title="Años de experiencia"
        value="34+"
        customClass="mx-auto"
      />
      <Estadistica title="Años de CELIG" value="8+" customClass="self-start" />
    </div>
  </Container>

  <Container
    fullWidth={false}
    customClass="space-y-[-35px] text-right title-animation"
  >
    <SectionTitle
      title="Fundado por"
      customClass="col-start-1 col-span-4 md:col-span-8 xl:col-span-12"
    />
    <SectionTitle
      title="Ana Isabel Sibaja"
      serif={true}
      customClass="col-start-1 col-span-4 md:col-span-8 !leading-[40px] xl:col-span-12"
    />
  </Container>

  <img
    src="/ProfilePhoto.jpg"
    alt="Ana Isabel Sibaja"
    width="100%"
    class="w-screen md:hidden"
  />

  <Container
    fullWidth={false}
    customClass="space-y-[50px] overflow-hidden relative"
  >
    <Parragraph
      customClass="col-start-1 col-span-3 md:col-span-5 text-animation text-justify"
      text={`Ana Isabel Sibaja no fundó CELIG por estrategia, sino por amor. Cuando sus hijos le revelaron su 
    orientación sexual, algo cambió en ella. Desde entonces, puso su vocación al servicio de una causa 
    mayor: defender y visibilizar a la comunidad LGBTIQ+ desde el Derecho.`}
    />

    <Parragraph
      customClass="col-start-2 col-span-3 md:col-span-5 text-right xl:col-start-2 text-animation text-justify"
      text={`Con más de 34 años de experiencia como abogada y notaria, ha trabajado en derecho civil, penal, 
      laboral y de familia. Su mayor legado, sin embargo, es el compromiso con la igualdad, visible en su 
      participación en eventos como el Pride, donde ha casado parejas en tarimas y carrozas, mostrando una entrega 
      genuina.`}
    />

    <Parragraph
      customClass="col-start-1 col-span-3 md:col-span-5 xl:col-start-1 text-animation text-justify"
      text={`Nacida en Cañas, Guanacaste, y madre soltera, inició su carrera en Batán, Limón. Hoy inspira a madres,
       familias y profesionales, reafirmando cada día que el amor y la igualdad no se piden: se exigen, se legislan 
       y se celebran.`}
    />

    <img
      src="/ProfilePhoto.jpg"
      alt="Ana Isabel Sibaja"
      width="100%"
      class="hidden md:flex md:h-[500px] xl:h-[100%] md:object-cover md:absolute md:right-0 md:w-[37%] xl:w-[49%]"
    />
  </Container>
</section>
